{% extends 'home_page.html' %}

{% block content %}


<!DOCTYPE html>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-4 user">
                             
                        <img class="rounded-circle" alt="avatar1" src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" />
                        <h6>ФИО: Алик Нурланулы Игоревна </h6>
                    </div>
                    <div class="col-sm-8 status">
                        <div class="text-left">
                            <h6>Лицевой счет: 123456</h6>
                            <h6>Статус заявки</h6>
                        </div>
                    </div>

                </div>
                <hr>
                <div></div>
                <div class="row">
                    <div class="col-12">
                        <div class="card request">
                            <div class="title text-center"><h6>обращение</h6></div>
                            <div class="card-body">
                                <p>FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF</p>
                                <div class="text-right">
                                    <h6>Статус заявки: <p class="text-success">Работает</p></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        

        
    </div>
    


</body>



{% endblock content %}


