{% extends 'home_page.html' %}

{% block content %}


<!DOCTYPE html>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-4 user">
                        
                        <img class="rounded-circle" alt="avatar1" src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" />
                        <h6>  ФИО: {{master.full_name}} </h6>
                    </div>
                    <div class="col-sm-8 status">
                        <div class="text-left">
                            <h6>Статус заявки</h6>
                        </div>
                    </div>
                
                </div>
                <hr>
                <div></div>
                <div class="col-md-7">
                    <h5>Последние 5 заказов</h5>
                    <hr>
                    <div class="card card-body">
                        {%comment%} <a class="btn-primary btn-sm btn-blcok"  href="{% url 'order_form'%}">Создать услугу</a> {%endcomment%}
                        <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>Услуга</th>
                                <th>Когда</th>
                                <th>Статус</th>
                                <th>ОБновить</th>
                                <th>Удалить</th>
                            </tr>
                            {% for user_call in user_calls %}
                                <tr>
                                    <td> {{user_call.master_id}}</td>
                                    <td> {{user_call.get_status_points_display}} </td>
                                    
                                    {%comment%}<td>{{orders.status}}</td>
                                    <td><a href="{% url 'update_order' order.id %}">Обновить</a></td>
                                    <td><a href="{% url 'delete_order' order.id %}">Удалить</a></td>{%endcomment%}
                                </tr>
                            {% endfor %}
            
                        </table>
                    </div>
                </div>
                </div>


            </div>
        </div>
        

        
    </div>
    


</body>



{% endblock content %}


