{%  extends 'home_page.html' %}
{% comment %} {% block title %} {% endblock  %} {% endcomment %}
{% block content %}
{% load widget_tweaks %}
<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card bg-white">
                <div class="card-body p-5">
                    <form method="POST" action="/login/">
                        {% for key, message in form.errors.items %}
                            {% for error in message %}
                                <p class="text-danger">{{ error }}<p>
                            {% endfor %}
                        {% endfor %}
                        <h2 class="fw-bold mb-2 text-uppercase ">ЛОГИН</h2>
                        {% csrf_token %}
                        <div class="form-group">
                        <label for="exampleInputEmail1">Номер телефона или имя ползователя</label>
                        <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите ваш логин">
                        
                        </div>
                        <div class="form-group">
                        <label for="exampleInputPassword1">Пароль</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
                        </div>
                        
                        
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        
                    </form>
                    <div>
                    <p class="mb-0  text-center">нет учетной записи? <a href="/reg/" class="text-primary fw-bold">зарегистрироваться</a></p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}



